@use './styles/fonts';
@use './styles/colors';
@use './styles/responsive';

*, *::before, *::after {
    box-sizing: border-box;
  }

.App {
    margin: 0;
    font-family: 'poppins', sans-serif;
}

.failed__auth {
    height: 100vh;
    display: flex;

    &-text {
        color: colors.$white;
        margin: 0;
        padding-top: 1.5rem;
        text-align: center;
        margin: 0 auto;

        @include responsive.tablet {
            width: 70%;
        }
    }
}

.loading {
    height: 100vh;

    &__text {
        font-size: .875rem;
        line-height: 1.125rem;
        padding-top: 1.5rem;
        color: colors.$white;
        text-align: center;
        font-weight: 500;
        margin: 0;
    }
}

