@use '../../styles/fonts';
@use '../../styles/colors';
@use '../../styles/responsive';

.profile {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: colors.$dark-blue;
    margin: 1.5rem;
    padding: .5rem;
    border-radius: .25rem;
    width: 86%;
    @include colors.boxshadow;

    &__heading {
        color: colors.$white;
        font-size: 1.25rem;
        line-height: 1.5rem;
        font-weight: 400;
        margin: 0 auto;
        text-decoration: underline;

        @include responsive.tablet {
            font-size: 1.5rem;
            line-height: 1.75rem;
        }
    }

    &__info {
        display: flex;
        gap: 1rem;

        &-container {
            display: flex;
            flex-direction: column;
            width: 70%;
        }

        &-text {
            color: colors.$white;
            font-size: .8125rem;
            line-height: 1.0625rem;

            @include responsive.tablet {
                font-size: 1rem;
                line-height: 1.25rem;
            }

        }
    }

    &__update {
        border-radius: .25rem;
        color: colors.$white;
        background-color: colors.$orange;
        border: 1px solid colors.$orange;
        width: 50%;
        height: 2rem;
        font-size: .8125rem;
        line-height: 1.0625rem;
        font-weight: 700;

        &:hover {
            background-color: colors.$orange-hover;
            border: 1px solid colors.$orange-hover;
        }
    }
}