@use '../../styles/fonts';
@use '../../styles/colors';
@use '../../styles/responsive';

.coach {
    display: flex;
    flex-direction: column;
    background-color: colors.$dark-blue;
    border-radius: .25rem;
    @include colors.boxshadow;
    padding: .5rem;
    width: 83%;

    &__heading {
        color: colors.$white;
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.5rem;
        text-align: center;
        margin: 0;
        margin-bottom: 1rem;

        @include responsive.tablet {
            font-size: 1.5rem;
            line-height: 1.75rem;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        width: 75%;
        gap: 1rem;


        &-text {
            color: colors.$white;
            font-size: .8125rem;
            line-height: 1.0625rem;
            margin: 0;

            &--bio {
                color: colors.$white;
                font-size: .8125rem;
                line-height: 1.0625rem;
                margin: 0;
                width: 75%;

                @include responsive.tablet {
                    font-size: 1rem;
                    line-height: 1.25rem;
                }
            }

            @include responsive.tablet {
                font-size: 1rem;
                line-height: 1.25rem;
            }
        }
    }

    &__container {
        display: flex;
    }
}

