@use '../../styles/fonts';
@use '../../styles/colors';
@use '../../styles/responsive';

@-webkit-keyframes slide-in-left {
0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
}
100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
}
}
@keyframes slide-in-left {
0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
}
100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
}
}
  
.menu {
    z-index: 1;
    position: absolute;
    top: .9rem;
    left: 1.2rem;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    border-radius: .25rem;
    width: 10rem;
    background: rgba( 255, 255, 255, 0.8 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: .25rem;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    -webkit-animation: slide-in-left 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    &__heading-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__heading {
        font-size: 1.25rem;
        line-height: 1.5rem;
        font-weight: 500;
        margin: 0;
    }

    &__close {
        border: none;
        background-color: rgba( 255, 255, 255, 0.18 );
        background-image: url('../../assets/icons/close.svg');
        background-repeat: no-repeat;
        background-position: center;
        width: .75rem;
        height: .75rem; 
    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        padding: 1rem 0 .5rem 0;
        gap: .75rem;

        &-item {
            font-size: .8125rem;
            line-height: 1.0625rem;
            font-weight: 400;
            cursor: pointer;

            &:hover {
                border-bottom: 2px solid colors.$light-blue;
                margin-bottom: -2px;
            }
        }
    }
}

a {
    text-decoration: none;
    color: colors.$black;
}