@use '../../styles/fonts';
@use '../../styles/colors';
@use '../../styles/responsive';

.menu {
    z-index: 1;
    position: absolute;
    top: .9rem;
    left: 1.2rem;
    display: flex;
    flex-direction: column;
    background-color: colors.$off-white;
    padding: .5rem;
    border-radius: .25rem;
    width: 10rem;
    border: 1px solid colors.$dark-blue;

    &__heading-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__heading {
        font-size: 1.25rem;
        line-height: 1.5rem;
        font-weight: 500;
        margin: 0;
    }

    &__close {
        border: none;
        background-color: colors.$off-white;
        background-image: url('../../assets/icons/close.svg');
        background-repeat: no-repeat;
        background-position: center;
        width: .75rem;
        height: .75rem; 
    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        padding: 1rem 0 .5rem 0;
        gap: .75rem;

        &-item {
            font-size: .8125rem;
            line-height: 1.0625rem;
            font-weight: 400;
            cursor: pointer;

            &:hover {
                border-bottom: 2px solid colors.$light-blue;
                margin-bottom: -2px;
            }
        }
    }
}

a {
    text-decoration: none;
    color: colors.$black;
}