@use '../../styles/fonts';
@use '../../styles/colors';
@use '../../styles/responsive';

.thread {
    display: flex;
    flex-direction: column;
    padding: 1rem .5rem 2rem .5rem;

    @include responsive.tablet {
        flex-direction: row;
        padding: 0;
    }

    &__container--tablet {
        @include responsive.tablet {
            margin: 0 1rem 1rem 0;
            padding-left: 1rem;
            width: 72%;
            padding-top: 1rem;
        }

        @include responsive.desktop {
            width: 65%;
            margin-left: 2rem;
        }
    }

    &__info-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__back {
        margin-top: 1rem;
        border-radius: .25rem;
        color: colors.$white;
        background-color: colors.$orange;
        border: 1px solid colors.$orange;
        width: 8rem;
        height: 2rem;
        font-size: .75rem;
        line-height: 1rem;
        font-weight: 700;

        &:hover {
            background-color: colors.$orange-hover;
            border: 1px solid colors.$orange-hover;
        }
    }

    &__title {
        color: colors.$white;
        margin: 0;
        font-size: 1.25rem;
        line-height: 1.5rem;
        font-weight: 500;

        @include responsive.tablet {
            font-size: 1.5rem;
            line-height: 1.75rem;
        }
    }

    &__reply {
        margin-top: 1rem;
        border-radius: .25rem;
        color: colors.$white;
        background-color: colors.$orange;
        border: 1px solid colors.$orange;
        width: 4.5rem;
        height: 2rem;
        font-size: .75rem;
        line-height: 1rem;
        font-weight: 700;

        &:hover {
            background-color: colors.$orange-hover;
            border: 1px solid colors.$orange-hover;
        }
    }

    &__content {
        margin-top: 1rem;
        color: colors.$white;
        font-size: .8125rem;
        line-height: 1.0625rem;
        padding: .5rem .5rem;
        background-color:  colors.$dark-blue;
        @include colors.boxshadow;
        border-radius: .25rem;

        &-container {
            display: flex;
            justify-content: space-between;
        }

        @include responsive.tablet {
            font-size: 1rem;
            line-height: 1.25rem;
        }
    }
}

.comments--displayed {
    display: none;
}

.no__comments {
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    height: 100vh;
    width: 70%;
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: colors.$white;
}

.comment__form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    &-input {
        font-family: 'poppins';
        resize: none;
        margin-left: .5rem;
        border-radius: .25rem;
        height: 5rem;
        width: 100%;
        border: 1px solid colors.$light-blue;

        &:focus {
            border: 1px solid colors.$dark-blue;
            outline: none;
        }

        &--invalid {
            border: 1px solid colors.$error;
        }

        &::placeholder {
            font-family: 'poppins';
        }

        &-container {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            align-items: center;
            width: 100%;
        }
    }

    &-submit {
        border-radius: .25rem;
        color: colors.$white;
        background-color: colors.$orange;
        border: 1px solid colors.$orange;
        margin-left: auto;
        width: 5rem;
        height: 2rem;
        font-size: .8125rem;
        line-height: 1.0625rem;
        font-weight: 700;

        &:hover {
            background-color: colors.$orange-hover;
            border: 1px solid colors.$orange-hover;
        }
    }

    &-errors {
        background-image: url('../../assets/icons/error-24px.svg');
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: left;
        background-size: .75rem;
        padding-left: 1rem;
        font-size: .75rem;
        color: colors.$error;
        margin: 0;

        @include responsive.tablet {
            font-size: .875rem;
            line-height: 1.125rem;
        }
    }
}

.error__message {
    background-image: url('../../assets/icons/error-24px.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: left;
    background-size: .75rem;
    margin: 0;
    padding-left: 1rem;
    font-size: .75rem;
    line-height: 1rem;
    color: colors.$error;
}