@use '../../styles/fonts';
@use '../../styles/colors';
@use '../../styles/responsive';


.forum {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
    gap: 1rem;

    @include responsive.tablet {
        width: 75%;
    }

    &__card {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: .25rem;
        padding: .5rem 1rem;
        gap: 1rem;
        background-color: colors.$dark-blue;
        @include colors.boxshadow;

        @include responsive.desktop {
            width: 75%;
            align-self: center;
        }
    }

    &__heading {
        font-size: 1.25rem;
        line-height: 1.5rem;
        font-weight: 500;
        color: colors.$white;

        @include responsive.tablet {
            font-size: 1.5rem;
            line-height: 1.75rem;
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
    }
}