@use '../../styles/fonts';
@use '../../styles/colors';
@use '../../styles/responsive';

.tablet {
    display: none;

    @include responsive.tablet {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        overflow: show;
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
        width: 25%;
        min-height: 100%;
        padding: 1rem;
        background: rgba( 255, 255, 255, 0.35 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }

    &__heading {
        font-size: 1.5rem;
        line-height: 1.75rem;
        font-weight: 500;
        color: colors.$white;
        margin: 0;
    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        padding: 1rem 0 .5rem 0;
        gap: .75rem;

        &-item {
            color: colors.$white;
            font-size: 1rem;
            line-height: 1.25rem;
            font-weight: 400;
            cursor: pointer;

            &:hover {
                border-bottom: 2px solid colors.$light-blue;
                margin-bottom: -2px;
            }
        }
    }
}