@use '../../styles/fonts';
@use '../../styles/colors';
@use '../../styles/responsive';


.header {
    position: relative;
    width: 100%;
    background-image: url('../../assets/images/header-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__overlay {
        background-color: black;
        opacity: 55%;
        height: 12rem;

        @include responsive.tablet {
            height: 17rem;
        }

        @include responsive.desktop {
            height: 20rem;
        }
    }

    &__logo {
        position: absolute;
        top: 1rem;
        left: 2.5rem;

        @include responsive.tablet {
            height: 10rem;
        }

        @include responsive.desktop {
            height: 15rem;
        }
    }

    &__nav {
        background: rgb(6,45,152);
        background: linear-gradient(0deg, rgba(6,45,152,1) 0%, rgba(0,0,0,1) 100%);
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 1rem;
        border-bottom: 1px solid colors.$orange;
    }

    &__menu {
        border: none;
        background: rgb(6,45,152);
        background: linear-gradient(0deg, rgba(6,45,152,1) 0%, rgba(0,0,0,1) 100%);
        background-image: url('../../assets/icons/menu.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 2rem;
        height: 2rem;
        cursor: pointer;

        @include responsive.tablet {
            display: none;
        }
    }

    &__link {
        color: colors.$white;
        font-size: .8125rem;
        line-height: 1.0625rem;
        margin: 0;
        cursor: pointer;

        @include responsive.tablet {
            margin-left: auto;
            font-size: 1rem;
            line-height: 1.25rem;
        }
    }
}

.user__name--logged-in {
        margin: 0;
        margin-left: auto;
        color: colors.$white;
        font-size: .875rem;
        line-height: 1.125rem;

        @include responsive.tablet {
            font-size: 1rem;
            line-height: 1.25rem;
        }
}