@use '../../styles/fonts';
@use '../../styles/colors';
@use '../../styles/responsive';


.header {
    position: relative;
    width: 100%;
    background-image: url('../../assets/images/header-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__overlay {
        background-color: black;
        opacity: 55%;
        height: 12rem;
    }

    &__logo {
        position: absolute;
        top: 1rem;
        left: 2.5rem;
    }

    &__nav {
        background-color: colors.$dark-blue;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 1rem;
    }

    &__menu {
        border: none;
        background-color: colors.$dark-blue;
        background-image: url('../../assets/icons/menu.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 2rem;
        height: 2rem;
    }

    &__link {
        color: colors.$white;
        font-size: .875rem;
        line-height: 1.125rem;
        margin: 0;
    }
}