@use '../../styles/fonts';
@use '../../styles/colors';
@use '../../styles/responsive';

.coach__list {
    @include colors.background;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0 2rem 0;

    &-heading {
        font-size: 1.5rem;
        line-height: 1.75rem;
        font-weight: 500;
        margin: 0;
        color: colors.$white;

        @include responsive.tablet {
            font-size: 1.75rem;
            line-height: 2rem;
        }
    }

    @include responsive.tablet {
        width: 75%;
    }

    &--tablet {
        @include responsive.tablet {
            @include colors.background;
            display: flex;
            flex-direction: row
        }
    }
}

.loading {
    @include colors.background;
    height: 100vh;

    &__text {
        font-size: .875rem;
        line-height: 1.125rem;
        padding-top: 1.5rem;
        color: colors.$white;
        text-align: center;
        font-weight: 500;
        margin: 0;
    }
}