$off-white: #F1F1F1;
$grey: #C4C6C9;
$orange: #FC660B;
$orange-hover: #F55D00;
$white: #FFFFFF;
$dark-blue: #062D98;
$light-blue: #76C5FF;
$black: #000000;
$error: #C94515;

@mixin background {
    background: rgb(6,45,152);
    background: linear-gradient(180deg, rgba(6,45,152,1) 0%, rgba(0,0,0,1) 100%);
}

@mixin boxshadow {
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
}